*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* FONTS
font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  background-color: #e0d8e0;
  overflow-x: hidden;
}

h1 {
    font-family: 'Roboto', sans-serif; 
    font-size: 3rem;
    letter-spacing: 1px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.5rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 1rem;
}

h5 {
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}
p, li, em, a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
}

.grid-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 79rem;
   
}

.grid-item1 i {
   margin-left: 10px;
    font-size: 2.5rem;
    padding: 22px;
}

.grid-item2 {
    background-image: url(backgd.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -5;
    
}
nav img {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    margin: 20px auto 50px auto;
}
nav {
    background-color: #3E065F;
    display: flex;
    flex-direction: column;
    width: 6.8rem;
    height: 100%;
    position: fixed;
}

.fa-house-user, .fa-mobile-screen-button {
    color: #10e160;
}


.fa-face-smile-beam, .fa-blog {
    color: #fff;
}

.fa-briefcase {
    color: #4076f5;
}

.a, .b, .c, .d, .e {
   visibility: hidden;
}

.fa-house-user:hover .a {
   visibility: visible;
}

.fa-face-smile-beam:hover .b {
    visibility: visible;
}

.fa-briefcase:hover .c {
    visibility: visible;
}

.fa-blog:hover .d {
    visibility: visible;
}

.fa-mobile-screen-button:hover .e {
    visibility: visible;
}

nav span {
    position: absolute;
    width: max-content;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    background-color: #000;
    color: #fff;
    padding: 25px;
    border-radius: 30px;
    margin-left: 10px;
}

/* FIRST SECTION START */
#first-section{
    color: #fff;
    padding-left: 200px;
    padding-top: 150px;
    padding-bottom: 120px;
    padding-right: 100px;
    margin:auto;
}
.first-sect {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-content: center;
}
#second-section, #third-section, #fourth-section, #fifth-section {
    color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 220px;
    padding-right: 50px;
    margin:auto;
}
.img {
    width: 250px;
    height: 350px;
    background-color: brown;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    padding-right: 20px;
}

.details {
    width: 29rem;
    padding-top: 6rem;
}

.details p {
    padding-top: 30px;
}

.details span {
    font-family: 'Great Vibes', cursive;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
}
/* FIRST SECTION END */

/* SECOND SECTION START */


#second-section{
    color: #fff;
}

#second-section h2 {
   margin-bottom: 80px;
   padding-bottom: 20px;
   border-bottom: 1px solid white;
}

#second-section p {
    font-size: 1.1rem;
}

.share1 {
    display: flex;
    justify-content: space-between;
}

.skills li {
    font-size: 1.1rem;
}

.share1 h3 {
padding-bottom: 20px;
}

.sharing1 {
    width: 50%;
}

.sharing2 {
    width: 40%;
}
.who p {
    padding-top: 10px;
}

.skills {
    padding-top: 40px;

}

.skill-set1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    
}

.skill-set {
    padding-bottom: 15px;
}

.skill-bar {
    width: 100%;
    background-color: #fff;
    height: 10px;
    border: 1px solid rgb(26, 182, 65);
    border-radius: 20px;
}

.skill-set1 span{
    font-size: 1.1rem;
}
.skills h3 {
    padding-bottom: 20px;
}

.html {width: 90%; background-color: rgb(26, 182, 65); height: 10px;}
.fig {width: 80%; background-color: rgb(26, 182, 65); height: 10px;}
.ux {width: 87%; background-color: rgb(26, 182, 65); height: 10px;}
.write {width: 70%; background-color: rgb(26, 182, 65); height: 10px;}
.blog4 {width: 60%; background-color: rgb(26, 182, 65); height: 10px;}
.design {width: 75%; background-color: rgb(26, 182, 65); height: 10px;}

.info p{
    font-size: 1.1rem;
 line-height: 25px;
 padding-top: 10px;
}

.social-media {
    padding-top: 30px;
    padding-bottom: 50px;
}

.social-media i{
padding: 10px;
font-size: 1.7rem;
border: 1px solid greenyellow;
background-color: white;
border-radius: 50%;
margin: 10px;
}

.social-media i:hover {
    background-color: rgba(255, 255, 255, 0.842);
    cursor: pointer;
}

.fa-twitter {
    color: rgb(72, 122, 230);
}
.fa-whatsapp{
    color: green;
}

.fa-linkedin-in {
    color: #4b10e1;
}
.btn {
    width: 12rem;
    border-radius: 20px;
    padding: 7px;
    padding-left: 25px;
    font-size: 1.3rem;
    background-color: rgb(26, 182, 65);
    color: #fff;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(149, 217, 149);
}

/* SECOND SECTION END */

/* THIRD SECTION START   */

#third-section {
    color: #fff;
}
#third-section h2 {
   margin-bottom: 10px;
   padding-bottom: 20px;
   border-bottom: 1px solid #fff;
}

span {
    color: #fff;
    font-size: 2rem;
}

.portfolio-items {
    margin: 70px auto auto auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    row-gap: 100px;
}
.item1 {
    width: 250px;
    height: 350px;
    border: 1px solid #4b10e1;
    border-radius: 30px;
    background-color: black;
}
/* THIRD SECTION ENDS */

/* FOURTH SECTION STARTS */

#fourth-section {
   color: #fff;
   
}
#fourth-section h2 {
   margin-bottom: 10px;
   padding-bottom: 20px;
   border-bottom: 1px solid #fff;
}

.blog-items {
    width: 24rem;
}


.blog-items1 {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.blog-items img {
    width: 20rem;
    height: 12rem;
    border: 1px solid white;
    border-radius: 20px;
    margin: 20px auto 35px auto;
}

.blog-items a {
    font-size: 0.9rem;
    margin-top: 20px;
}

.blog-items a:hover {
    opacity: 0.6;
}

.blog-items p {
    font-size: 1.1rem;
  padding-bottom: 10px;
}

/* FOURTH SECTION ENDS */

/* FIFTH SECTION BEGINS */

#fifth-section {
    color: #fff;
}
.contact {
        display: flex;
justify-content: space-between;
}
#fifth-section h2 {
   margin-bottom: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid #fff;
}

.contact1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact h3 {
    padding-top: 50px;
    padding-bottom: 30px;
}

#message {
    height: 7rem;
}

.contact1 input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: fit-content;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #3E065F;
    color: #fff;
}

button:hover {
    cursor: pointer;
  opacity: 0.8;
}

.contact2 {
    width: 40%;
}

.contact2 p {
font-size: 1rem;
padding-bottom: 10px;
line-height: 30px;
}

.social-media1 {
    padding-top: 30px;
    padding-bottom: 50px;
}

.social-media1 i{
padding: 5px;
font-size: 2rem;
background-color: white;
border-radius: 50%;
margin: 5px;
}

.social-media1 i:hover {
   opacity: 0.8;
    cursor: pointer;
}

.contact em {
    font-size: 0.8rem;
}
/* FIFTH SECTION ENDS */

@media only screen and (max-width: 1000px){
    .grid-container {
        width: auto;
    }

}

@media only screen and (max-width: 800px){
    .first-sect {
       flex-direction: column-reverse;
    }

    .share1 {
        flex-direction: column;
    }

    .info {
        padding-top: 100px;
        width: auto;
    }

    .portfolio-items {
        grid-template-columns: 1fr 1fr;
    }

    .sharing1 {
        width: 80%;
    }
    
    .sharing2 {
        width: 80%;
    }

    nav img {
        margin: auto 150px auto 220px;
    } 
    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 6.8rem;
        position: fixed;
        bottom: 0;
    }

    /* .grid-container > * {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: auto;
       
    } */
    
    .grid-item1 i {
       margin: 5px auto;
        font-size: 2.7rem;
        padding: 29px;
    }

    nav span {
        position: fixed;
        background-color: #fff;
        color: #000;
        padding: 25px;
        border-radius: 30px;
        margin: auto 60px 400px auto;
    }
}