*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* FONTS
font-family: 'Great Vibes', cursive;
font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sriracha', cursive; */

body {
  overflow-x: hidden;
}

h1 {
    font-family: 'Sriracha', cursive; 
    font-size: 3rem;
    letter-spacing: 1px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.5rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 0.8rem;
}

h5 {
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}
p, li, em, a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
}

.grid-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 79rem;
   
}

.grid-item1 i {
    margin-left: 10px;
    font-size: 1.5rem;
    padding: 25px;
}


.initials {
    width: 4rem;
    height: 4rem;
    border: 1px solid white;
    border-radius: 50%;
    margin: 20px auto 50px auto;
    background-image: url(/IMG_4912.jpg);
    background-size: contain;
    color: #95389E;

}

.initials h6 {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 15px;
    font-family: 'Merienda', cursive;
    text-shadow: 1.5px 1px 1px #110913;
}

.initials h6 span {
    font-size: 1.5rem;
    color: #fff;
}

nav {
    background-color: #95389E;
    display: flex;
    flex-direction: column;
    width: 6.5rem;
    height: 100%;
    position: fixed;
}

.fa-house-user, .fa-mobile-screen-button {
    color: #fff;
}


.fa-face-smile-beam, .fa-blog {
    color: #fff;
}

.fa-briefcase {
    color: #fff;
}

.a, .b, .c, .d, .e {
   visibility: hidden;
}

.fa-house-user:hover .a {
   visibility: visible;
}

.fa-face-smile-beam:hover .b {
    visibility: visible;
}

.fa-briefcase:hover .c {
    visibility: visible;
}

.fa-blog:hover .d {
    visibility: visible;
}

.fa-mobile-screen-button:hover .e {
    visibility: visible;
}

nav a span {
    position: absolute;
    width: max-content;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    padding: 15px;
    border-radius: 30px;
    margin-left: 10px;
}


/* FIRST SECTION START */
#first-section{
background-color: #100303;
}
.first-sect {
    display: flex;
justify-content: space-between;
    width: 100%;
    margin: auto;
    color: #fff;
}
#first-section, #second-section, #third-section, #fourth-section, #fifth-section, .subSection {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 200px;
    padding-right: 50px;
    margin:auto;
}
.img {
    background-image: url(/IMG_4912.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
    width: 350px;
    height: 400px;
    border-radius: 50%;
    text-align: center;
    margin-right: 100px;
}

.details {
    width: 27rem;
    padding-top: 6rem;
}

.details p {
    padding-top: 30px;
}

.details p span {
    font-family: 'Merienda', cursive;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
}

.details h1 span {
    color: #95389E;
    font-family: 'Sriracha', cursive; 
    font-size: 3rem;
    letter-spacing: 1px;
}
/* FIRST SECTION END */

/* SUB SECTION STARTS */
.subSection {
background-color: #F7F7F7;
display: flex;
justify-content: space-between;
text-align: center;
}

.subSection div {
    box-shadow: 0.5px 0.5px 1px 1px #10030314;
    width: 30%;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.subSection p {
    font-size: 0.8rem;
    margin-top: 10px;
    line-height: 1.5rem;
}

.subSection h3 {
    font-size: 1.1rem;
    font-weight: 600;
    font-style: normal;
}

.subSection i {
    border: 1px solid #96389ed0;
    padding: 20px;
    border-radius: 20rem;
    margin-bottom: 20px;
    font-size: 2rem;
}
/* SUB SECTION ENDS */

/* SECOND SECTION START */

#second-section{
    background-color: #201d20;
    color: #fff;
}

#second-section h2 {
   margin-bottom: 80px;
   padding-bottom: 20px;
   border-bottom: 1px solid white;
}

#second-section p {
    font-size: 0.9rem;
}

.share1 {
    display: flex;
    justify-content: space-between;
}

.skills li {
    font-size: 1.1rem;
}

.share1 h3 {
padding-bottom: 20px;
}

.sharing1 {
    width: 50%;
}

.sharing2 {
    width: 40%;
}
.who p {
    padding-top: 10px;
}

.skills {
    padding-top: 40px;

}

.skill-set1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    
}

.skill-set {
    padding-bottom: 15px;
}

.skill-bar {
    width: 100%;
    background-color: #fff;
    height: 10px;
    border: 1px solid #43D8C9;
    border-radius: 20px;
}

.skill-set1 span{
    font-size: 0.9rem;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.skills h3 {
    padding-bottom: 20px;
}

.html {width: 90%; background-color: #43D8C9; height: 10px;}
.fig {width: 80%; background-color: #43D8C9; height: 10px;}
.ux {width: 87%; background-color: #43D8C9; height: 10px;}
.write {width: 70%; background-color: #43D8C9; height: 10px;}
.blog4 {width: 60%; background-color: #43D8C9; height: 10px;}
.design {width: 75%; background-color: #43D8C9; height: 10px;}

.info p{
    font-size: 1.1rem;
 line-height: 25px;
 padding-top: 10px;
}

.social-media {
    padding-top: 30px;
    padding-bottom: 50px;
}

.social-media i{
padding: 12px;
font-size: 1.2rem;
border: 1px solid #43D8C9;
background-color: #F7F7F7;
color: #100303;
border-radius: 50%;
margin: 10px;
}

.social-media i:hover {
    background-color: transparent;
    cursor: pointer;
}

.fa-twitter:hover {
    color: rgb(72, 122, 230);
}
.fa-whatsapp:hover {
    color: green;
}

.fa-linkedin-in:hover {
    color: #4b10e1;
}
.btn {
    width: 11rem;
    border-radius: 20px;
    padding: 15px;
    padding-left: 25px;
    font-size: 1.1rem;
    background-color: #43D8C9;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
    background-color: #43d8c9a5;
}

/* SECOND SECTION END */

/* THIRD SECTION START   */

#third-section {
    background-color: #fff;
}
#third-section h2 {
   margin-bottom: 10px;
   padding-bottom: 20px;
   border-bottom: 1px solid #95389E;
}

span {
    color: #000;
    font-size: 2rem;
}

.portfolio-items {
    margin: 70px auto auto auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    row-gap: 100px;
}
.item1 {
    width: 250px;
    height: 350px;
    border: 1px solid #4b10e1;
    border-radius: 30px;
    background-color: black;
}

.item1:hover {
    cursor: pointer;
    transform: scale(1.02);
}
/* THIRD SECTION ENDS */

/* FOURTH SECTION STARTS */

#fourth-section {
    background-color: #201d20;
    color: #fff;
}
#fourth-section h2 {
   margin-bottom: 10px;
   padding-bottom: 20px;
   border-bottom: 1px solid #fff;
}

#fourth-section span {
    color: #fff;
}

.blog-items {
    width: 24rem;
}

.blog-items h4 {
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}


.blog-items1 {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.blog-items img {
    width: 20rem;
    height: 12rem;
    border: 1px solid white;
    border-radius: 20px;
    margin: 20px auto 35px auto;
}

.blog-items a {
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0;
    color: #43D8C9;
}

.blog-items a:hover {
    opacity: 0.6;
}

.blog-items p {
    font-size: 0.9rem;
  padding-bottom: 10px;
  line-height: 1.4rem;
}

/* FOURTH SECTION ENDS */

/* FIFTH SECTION BEGINS */

#fifth-section {
    background-color: #fff;
    color: #000;
}
.contact {
    margin-top: 100px;
    border: 2px dashed #100303;
    display: flex;
    justify-content: space-between;
    border-block-start-style: none;
}
#fifth-section h2 {
   margin-bottom: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid #95389E;
}

.contact1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px #96389e4c;
    padding: 15px;
}

.contact h3 {
    margin-bottom: 30px;
}

#message {
    height: 7rem;
}

.contact1 input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 15px;
    width: fit-content;
    border: 1px solid;
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: #95389E;
    color: #fff;
}

button:hover {
    cursor: pointer;
  opacity: 0.8;
}

.contact2 {
    /* margin: auto;
    text-align: center;
    box-shadow: 0.5px 0.5px 1px 1px #97609529;
    padding: 20px; */
    width: 50%;
    background-image: url(/IMG_4770.JPG);
    background-size: cover;
    background-color: #96389e59;
    opacity: 0.5;
}

.contact2 p {
font-size: 0.8rem;
padding-bottom: 10px;
line-height: 20px;
text-align: right;
}

.contact3 {
    margin: auto;
}

.social-media1 {
        text-align: end;
        margin-top: 90%;
        padding-bottom: 5px;
}

.social-media1 i{
padding: 5px;
font-size: 1.4rem;
background-color: white;
border-radius: 50%;
margin: 5px;
}

.social-media1 i:hover {
   opacity: 0.8;
    cursor: pointer;
}

.contact em {
    font-size: 0.8rem;
}
/* FIFTH SECTION ENDS */

/* FOOTER SECTION */
#footerSection {
    background-color: #43D8C9;
    text-align: center;
    height: 2.5rem;
    padding: 10px;
}

#footerSection p,  #footerSection em{
        font-size: 0.7rem;
}

@media only screen and (max-width: 1000px){
    .grid-container {
        width: auto;
    }
}